In [18]:
%matplotlib inline

from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd

# Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
tickers = ['SPY', 'DIA', 'QQQ']

# We would like all available data from 01/01/2000 until 2019-12-31.
start_date = '2010-01-01'
end_date = '2019-12-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
panel_data = data.DataReader(tickers, 'yahoo', start_date, end_date)

In [19]:
panel_data

Attributes   Adj Close                               Close              \
Symbols            SPY         DIA         QQQ         SPY         DIA
Date
2010-01-04   92.246048   83.086746   41.718689  113.330002  105.660004
2010-01-05   92.490204   82.953041   41.718689  113.629997  105.489998
2010-01-06   92.555328   83.008125   41.467049  113.709999  105.559998
2010-01-07   92.946060   83.306923   41.494007  114.190002  105.940002
2010-01-08   93.255348   83.440613   41.835529  114.570000  106.110001
...                ...         ...         ...         ...         ...
2019-12-24  319.352142  283.243866  211.469345  321.230011  285.010010
2019-12-26  321.052124  284.287354  213.335373  322.940002  286.059998
2019-12-27  320.972565  284.555695  213.155762  322.859985  286.329987
2019-12-30  319.202972  282.766846  211.758743  321.079987  284.529999
2019-12-31  319.978424  283.333313  212.157883  321.859985  285.100006

Attributes                    High                                 Low  \
Symbols            QQQ         SPY         DIA         QQQ         SPY
Date
2010-01-04   46.419998  113.389999  105.870003   46.490002  111.510002
2010-01-05   46.419998  113.680000  105.669998   46.500000  112.849998
2010-01-06   46.139999  113.989998  105.849998   46.549999  113.430000
2010-01-07   46.169998  114.330002  106.019997   46.270000  113.180000
2010-01-08   46.549999  114.620003  106.110001   46.549999  113.660004
...                ...         ...         ...         ...         ...
2019-12-24  211.919998  321.519989  285.630005  212.089996  320.899994
2019-12-26  213.789993  322.950012  286.100006  213.809998  321.640015
2019-12-27  213.610001  323.799988  286.850006  214.559998  322.279999
2019-12-30  212.210007  323.100006  286.410004  213.630005  320.549988
2019-12-31  212.610001  322.130005  285.309998  212.759995  320.149994

Attributes                                Open                          \
Symbols            DIA         QQQ         SPY         DIA         QQQ
Date
2010-01-04  104.760002   46.270000  112.370003  104.839996   46.330002
2010-01-05  104.970001   46.160000  113.260002  105.610001   46.389999
2010-01-06  105.360001   46.070000  113.519997  105.500000   46.400002
2010-01-07  104.949997   45.919998  113.500000  105.379997   46.209999
2010-01-08  105.440002   45.930000  113.889999  105.669998   46.070000
...                ...         ...         ...         ...         ...
2019-12-24  284.869995  211.440002  321.470001  285.630005  212.000000
2019-12-26  285.200012  212.229996  321.649994  285.230011  212.259995
2019-12-27  285.899994  213.039993  323.739990  286.829987  214.539993
2019-12-30  284.119995  211.160004  322.950012  286.339996  213.500000
2019-12-31  283.559998  211.199997  320.529999  283.910004  211.619995

Attributes       Volume
Symbols             SPY        DIA         QQQ
Date
2010-01-04  118944600.0  8977300.0  62822800.0
2010-01-05  111579900.0  6549200.0  62935600.0
2010-01-06  116074400.0  6797200.0  96033000.0
2010-01-07  131091100.0  6312000.0  77094100.0
2010-01-08  126402800.0  4912000.0  88886600.0
...                 ...        ...         ...
2019-12-24   20270000.0   611600.0   7089000.0
2019-12-26   30911200.0   931600.0  17067500.0
2019-12-27   42528800.0  1930200.0  18134100.0
2019-12-30   49729100.0  2552900.0  21815500.0
2019-12-31   57077300.0  1341300.0  18170900.0

[2516 rows x 18 columns]

In [20]:
# Getting just the adjusted closing prices. This will return a Pandas DataFrame
# The index in this DataFrame is the major index of the panel_data.
close = panel_data['Close']

# Getting all weekdays between 01/01/2000 and 12/31/2016
all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')

# How do we align the existing prices in adj_close with our new set of dates?
# All we need to do is reindex close using all_weekdays as the new index
close = close.reindex(all_weekdays)

# Reindexing will insert missing values (NaN) for the dates that were not present
# in the original set. To cope with this, we can fill the missing by replacing them
# with the latest available price for each instrument.
close = close.fillna(method='ffill')

In [21]:
print(all_weekdays)

DatetimeIndex(['2010-01-01', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2019-12-18', '2019-12-19', '2019-12-20', '2019-12-23',
               '2019-12-24', '2019-12-25', '2019-12-26', '2019-12-27',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', length=2608, freq='B')

In [22]:
close.head(10)

Symbols            SPY         DIA        QQQ
2010-01-01         NaN         NaN        NaN
2010-01-04  113.330002  105.660004  46.419998
2010-01-05  113.629997  105.489998  46.419998
2010-01-06  113.709999  105.559998  46.139999
2010-01-07  114.190002  105.940002  46.169998
2010-01-08  114.570000  106.110001  46.549999
2010-01-11  114.730003  106.540001  46.360001
2010-01-12  113.660004  106.139999  45.779999
2010-01-13  114.620003  106.750000  46.349998
2010-01-14  114.930000  107.029999  46.389999

In [23]:
close.describe()

Symbols          SPY          DIA          QQQ
count    2607.000000  2607.000000  2607.000000
mean      196.240571   175.967046   105.388285
std        58.675861    51.499488    45.678929
min       102.199997    96.870003    42.470001
25%       138.679993   129.599998    64.930000
50%       198.820007   170.070007   101.699997
75%       243.250000   214.020004   141.135002
max       322.940002   286.329987   213.789993